<div class="alert alert-success" role="alert" ng-show="statesCtrl.showSuccess">Succesfully {{ statesCtrl.message }}!</div>
<div class="alert alert-danger" role="alert"  ng-show="statesCtrl.showFailure">There was an error while {{ statesCtrl.message }} a city</div>
<div>
    <h1>States Management</h1>
    <div class="jumbotron row">
            <div class="col-md-9 col-sm-7 col-xs-12">
                <div class="input-group input-group">
                    <span class="input-group-addon" id="stateName">State's Name:</span>
                    <input type="text" class="form-control" placeholder="Name goes here" aria-describedby="stateName" ng-model="statesCtrl.newEntityName">
                </div>
            </div>   
            <div class="pull-right col-md-3 col-sm-5 col-xs-12">
                <div class="row">
                    <button class="btn btn-primary col-md-12 col-sm-12 col-xs-12" ng-if="!statesCtrl.currentEntity" ng-click="statesCtrl.createEntity()">Create</button>
                    <button class="btn btn-warning col-md-4 col-sm-12 col-xs-12" ng-if="statesCtrl.currentEntity"  ng-click="statesCtrl.updateEntity()">Edit</button>
                    <button class="btn btn-danger  col-md-4 col-sm-12 col-xs-12"  ng-if="statesCtrl.currentEntity"  ng-click="statesCtrl.deleteEntity()">Delete</button>
                    <button class="btn btn-success  col-md-4 col-sm-12 col-xs-12"  ng-if="statesCtrl.currentEntity"  ng-click="statesCtrl.cancel()">Cancel</button>
                </div>
            </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Created</th>
            <th>Updated</th>
        </thead>
        <tbody>
            <tr ng-repeat="state in statesCtrl.entities" ng-click="statesCtrl.setEntity(state)">
                <td>{{ state._id.$oid }}</td>
                <td>{{ state.name }}</td>
                <td>{{ state.created_at }}</td>
                <td>{{ state.updated_at }}</td>
            </tr>
        </tbody>
    </table>
</div>