<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge, chrome=1">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <%= stylesheet_link_tag "spa", :media=>"all" %>
        <%= javascript_include_tag "spa" %>
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    </head>
    <body ng-app="spaMod">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <span><%= image_tag("capstone_icon.jpg", :alt => "icon", size: "36x36") %> Capstone</span>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-links">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="#"><span><i class="devicon-github-plain-wordmark colored"> Github</i></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ui-view><ui-view>
    </body>
</html>