<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-Edge, chrome=1">
        <meta name="viewport" content="width=device-width, intial-scale=1.0">
        <%= stylesheet_link_tag "spa", :media=>"all" %>
        <%= javascript_include_tag "spa" %>
        <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    </head>
    <body ng-app="spaMod">
        <nav-header></nav-header>
        <ui-view class="container-fluid"><ui-view>
    </body>
</html>