<div class="alert alert-success" role="alert" ng-show="citiesCtrl.showSuccess">Succesfully {{ citiesCtrl.message }}!</div>
<div class="alert alert-danger" role="alert"  ng-show="citiesCtrl.showFailure">There was an error while {{ citiesCtrl.message }} a city</div>
<div>
    <h1>Cities Management</h1>
    <div class="jumbotron row">
            <div class="col-md-9 col-sm-7 col-xs-12">
                <div class="input-group input-group">
                    <span class="input-group-addon" id="cityName">City's Name:</span>
                    <input type="text" class="form-control" placeholder="Name goes here" aria-describedby="cityName" ng-model="citiesCtrl.newEntityName">
                </div>
            </div>   
            <div class="pull-right col-md-3 col-sm-5 col-xs-12">
                <button class="btn btn-primary" ng-if="!citiesCtrl.currentEntity" ng-click="citiesCtrl.createEntity()">Create</button>
                <button class="btn btn-warning" ng-if="citiesCtrl.currentEntity"  ng-click="citiesCtrl.updateEntity()">Edit</button>
                <button class="btn btn-danger"  ng-if="citiesCtrl.currentEntity"  ng-click="citiesCtrl.deleteEntity()">Delete</button>
            </div>
    </div>
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Created</th>
            <th>Updated</th>
        </thead>
        <tbody>
            <tr ng-repeat="city in citiesCtrl.entities" ng-click="citiesCtrl.setEntity(city)">
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.created_at }}</td>
                <td>{{ city.updated_at }}</td>
            </tr>
        </tbody>
    </table>
</div>